* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

button {
  background-color: #3a3ffe;
  color: white;
  border: 5px;
  padding: 7px 10px;
  border-radius: 5px;
  font-size: 18px;
  margin: 10px 0px;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 60%;
  margin-top: 50px;

}

select,
option {
  width: 100%;
  padding: 7px 10px;
  border-radius: 5px;
  font-size: 20px;
  margin: 10px 0px;
}

table {
  width: 100%;
}

th,
td {
  text-align: left;
}

tr td,
tr th {
  border-bottom: 1px solid grey;
  padding: 10px 5px;
}